@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    /* margin:0; */
    padding:0;
    /* border:none; */
    outline:none;
    box-sizing:border-box;
} 
body{  
        width: 100%;
        height:100%;
        display: flex; 
        justify-content: center;
        align-items: center;  
        height: 100vh;  
        /* margin: 0;   */
        flex-wrap: wrap; 
        color: white; 
        background: black center no-repeat; 
        font-family: "Open Sans", sans-serif;
}

h1{
position: absolute;
top: 0;
right: 45%;
color: rgb(21, 213, 130);
}

.jo{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2,1fr);
    width: 100vh;
   align-items: center;
   margin: 50px;
   height: 100vh;
  color:rgb(232, 220, 220);

    
}
h3{
    border-bottom: 10px rgb(9, 28, 97) solid;
}

p{
    border: 1px solid rgb(72, 69, 69);
    padding: 12px;
    position: relative;
}

span{display:flex;
    justify-content: end;
    align-items: center;
    font-weight: 600;
    position: absolute;
    bottom: 30%;
    left: 85%;

}